<app-navbar></app-navbar>
<section class="about-one p-12 dark:bg-black bg-customLight dark:text-slate-100 text-slate-600">
    <div class=" flex  flex-col lg:flex-row justify-center items-center">
        <div class="columns-1 ">
            <img src="../../../../assets/images/Image 1.png" alt="Jewelry Image">
        </div>
        <div class="columns-1 ps-16 pt-20 ">
            <p class="style">Discover the Elegance of Jewelry</p>
            <h1 class="text-font pt-4 pb-4 italic ">
                <span>Elevate Your Style with</span> <br> <span class="inline-block mt-8">Our Exquisite Collection</span></h1>
            <p>Explore our meticulously crafted jewelry pieces that embody the essence <br> of timeless elegance.</p>
            <button class="bg-btn mt-7 pt-2 pb-2 ps-8 pe-8 font-semibold" routerLink="/landing-page/our-products">See Products</button>
        </div>
    </div>
</section>
<section class="about-two pt-16  dark:bg-black bg-aboutThree dark:text-slate-100 text-slate-600">
   <div class="flex flex-col lg:flex-row justify-around items-center">
    <div class="caption">
        <h1 class=" font-semibold line-clamp-3">Discover the Finest <br>Craftsmanship in Our <br>Jewelry Designs.</h1>
        <p class="pt-5">Timeless Elegance, Uncompromising Quality</p>
        <p>Elevate Your Look with Our Exceptional Jewelry</p>
        <p>Captivating Designs, Exceptional Craftsmanship</p>
    </div>
    <div class="w-80 mt-8 lg:mt-0">
        <img src ="../../../../assets/images/ring.png">
    </div>
   </div>
   <div class="card mt-12 flex justify-center ">
    <p class="bg-salteCard  dark:bg-salteCard text-slate-100 dark:text-slate-600 mb-5 p-8 text-center rounded-lg ">Explore our curated collection of exquisite jewelry, <br>where each piece is a testament to the exceptional craftsmanship <br> and timeless elegance that define our brand.</p>
   </div>
</section>

 
<section class="about-three p-12 dark:bg-black bg-customLight dark:text-slate-100 text-slate-600">
    <h2 class="style-text ps-20  dark:bg-black bg-customLight dark:text-white text-textSlate ">About Us</h2>
    <div class=" container  flex flex-col lg:flex-row justify-around ">
        <div class=" ps-10">
            <img src="../../../../assets/images/about-us.png" alt="Jewelry Image">
        </div>
        <div class=" pt-20 fontClamp  ps-32">
           <p >At NaamNYC, we work with high-end designers (both <br> new and established), retail stores, and also private <br> clients looking for that perfect custom piece or <br> engagement ring.</p>
            <br><p>Our studio combines over 20 years of experience <br>with a modern focus on 3d printing technology.<br> While we specialize in custom design and digital <br>modeling, we're also a respected high-end jewelry <br> manufacturer.
                <br>
            <br></p>
           <p > Our expert team of jewelers and designers will take <br> your custom design idea all the way from concept to <br> reality.  
           </p>
           <span class=""><i class="fa-brands fa-twitter pe-2 pt-2"></i><i class="fa-brands fa-facebook p-2"></i><i class="fa-brands fa-instagram p-2"></i></span>
        </div>
    </div>
</section>
<section class="about-four  dark:bg-black bg-aboutFour dark:text-slate-100 text-slate-600">
    <div class="flex justify-center p-10">
        <div class="caption-two p-32 rounded-xl shadow-lg bg-white  dark:bg-salteCard text-slate-400 dark:text-slate-600">
            <p class="pt-5 style">Radiant Charm</p>
           <h2 class="text-5xl pt-5 pb-5 italic">Refined Elegance</h2>
           <p class="text-pretty">Elevate Your Style with Our Exceptional Jewelry Collection. <br>
            Crafted with the finest materials and a keen eye for detail,<br>
             each piece is designed to captivate and inspire.<br> 
            Discover the beauty that awaits, and let our jewelry<br>
             be the finishing touch that elevates your look and your confidence.</p>
        </div>
        <div class="necklace-img mt-10 mb-10"> 
            <img src="../../../../assets/images/picture.png">
        </div>
    </div>
</section>

<app-footer></app-footer>
<a  class="back-to-top  cursor-pointer" (click)="scrollToComponent()"> 
    <span class="material-icons fa-solid fa-gem fa-bold" ></span>
</a>
