<section class="register dark:bg-black bg-customLight dark:text-white text-black px-4 md:px-8 lg:px-16 h-auto">
  <div class="flex justify-end items-center">
    <!-- Icon Code Here -->
  </div>
  
  <div class="layout flex flex-col md:flex-row justify-around items-center dark:bg-black bg-customLight text-black dark:text-white space-y-8 md:space-y-0 md:space-x-8 h-auto">
    
    <!-- Form Section -->
    <div class="form w-full md:w-2/3 lg:w-1/2 px-4">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" class="dark:bg-black bg-customLight text-black dark:text-white">
        
        <!-- Title and Description -->
        <h1 class="text-2xl md:text-3xl lg:text-4xl text-center font-bold">Welcome to Sign up</h1>
        <p class="text-center pb-2 md:pb-8  font-thin">The faster you fill up, the faster you get a ticket</p>
        
        <!-- Input Fields with Error Messages -->
        <div class="flex flex-wrap justify-around gap-y-3">
          <!-- Username Field -->
          <div class="flex flex-col w-full sm:w-80">
            <mat-form-field class="w-full">
              <mat-label>Username</mat-label>
              <input formControlName="userName" type="text" matInput placeholder="Username" />
            </mat-form-field>
            <div *ngIf="registerForm.controls['userName'].errors && registerForm.controls['userName'].touched">
              <p class="text-red-700 pb-2" *ngIf="registerForm.controls['userName'].errors['required']">Username is required</p>
              <p class="text-red-700 pb-2" *ngIf="registerForm.controls['userName'].errors['userName']">Username should be MaxLength 10</p>
            </div>
          </div>
          
          <!-- Country Field -->
          <div class="flex flex-col w-full sm:w-80">
            <mat-form-field class="w-full">
              <mat-label>Country</mat-label>
              <input formControlName="country" type="text" matInput placeholder="Country" />
            </mat-form-field>
            <div *ngIf="registerForm.controls['country'].errors && registerForm.controls['country'].touched">
              <p class="text-red-700 pb-2" *ngIf="registerForm.controls['country'].errors['required']">Country is required</p>
            </div>
          </div>
        </div>

        <!-- Additional Input Fields -->
        <div class="space-y-1">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="Email" />
          </mat-form-field>
          <div *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched">
            <p class="text-red-700" *ngIf="registerForm.controls['email'].errors['required']">Email is required</p>
            <p class="text-red-700" *ngIf="registerForm.controls['email'].errors['email']">Email should be valid</p>
          </div>
          
          <mat-form-field class="w-full">
            <mat-label>Phone Number</mat-label>
            <input formControlName="phoneNumber" type="text" matInput placeholder="Phone Number" />
          </mat-form-field>
          <div *ngIf="registerForm.controls['phoneNumber'].errors && registerForm.controls['phoneNumber'].touched">
            <p class="text-red-700" *ngIf="registerForm.controls['phoneNumber'].errors['required']">Phone Number is required</p>
          </div>

          <!-- Password Field with Toggle Visibility -->
          <mat-form-field class="w-full relative">
            <mat-label>Password</mat-label>
            <input formControlName="password" class="w-full pr-8" matInput placeholder="Password" [type]="hidden ? 'password' : 'text'" />
            <a class="show-password absolute right-2 top-1/2 transform -translate-y-1/2 cursor-pointer" (click)="hidden = !hidden">
              <i class="fa-solid icon" [class]="hidden ? 'fa-eye-slash' : 'fa-eye'"></i>
            </a>
          </mat-form-field>
          <div *ngIf="registerForm.controls['password']?.errors && registerForm.controls['password']?.touched">
            <p class="text-red-700" *ngIf="registerForm.controls['password']?.errors?.['required']">Password is required</p>
            <p class="text-red-700" *ngIf="registerForm.controls['password']?.errors?.['pattern']">The password must end with a number</p>
          </div>
          
          <!-- Confirm Password Field with Toggle Visibility -->
          <mat-form-field class="w-full relative">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" class="w-full pr-8" matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" />
            <a class="show-password absolute right-2 top-1/2 transform -translate-y-1/2 cursor-pointer" (click)="hide = !hide">
              <i class="fa-solid icon" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
            </a>
          </mat-form-field>
          <div *ngIf="registerForm.controls['confirmPassword']?.errors && registerForm.controls['confirmPassword']?.touched">
            <p class="text-red-700" *ngIf="registerForm.controls['confirmPassword']?.errors?.['required']">Confirm Password is required</p>
            <p class="text-red-700" *ngIf="registerForm.controls['confirmPassword']?.errors?.['pattern']">The confirm password must end with a number</p>
          </div>
        </div>
        
        <!-- Links and Button -->
         <div class="flex justify-between">
          <a class=" pb-3 md:pb-5 text-sm cursor-pointer " (click)="openDialog()">Have code?</a>
          <a class=" pb-3 md:pb-5 text-sm " routerLink="/auth/forget-password">Forgot Password?</a>
         </div>
         
        <button class="w-full p-2 text-white rounded  h-auto" routerLink="/auth/verify-account">Sign up</button>
        <p class="text-center pt-2 md:pt-6 h-auto">Already have an account?<a class="ps-1" routerLink="/auth/login">Login</a></p>
      
      </form>
    </div>
    
    <!-- Image Section -->
    <div class="img hidden md:block md:w-1/2 lg:w-1/3 mt-8 md:mt-0">
      <img class="w-full h-auto p-4 md:p-8" src="../../../../assets/images/authphoto.png" alt="Authentication Image">
    </div>
    
  </div>
</section>
<a  class="back-to-top cursor-pointer" (click)="onToggle()"> 
  <i [ngClass]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon' " class="text-2xl"></i>
</a>
