<app-navbar></app-navbar>
<section class="home-one dark:bg-black bg-customLight dark:text-white text-slate-600 ">
 <div class="columns-1 flex justify-between pt-8">
    <div class="mt-32">
        <h1 class="text-2xl font-semibold ps-28  dark:bg-black bg-customLight dark:text-white text-slate-600">
            <span class="mb-12">Discover Our</span><br>
             <span class=" mt-5 inline-block">Exquisite Jewelry ...</span></h1>
        <p class="ps-28 pt-7 leading-loose tracking-normal  dark:bg-black bg-customLight dark:text-white text-slate-600">Elevate your style with our meticulously crafted jewelry <br> pieces,
            each designed to complement your unique elegance. <br> Explore a world of timeless elegance and modern<br> sophistication.</p>
            <button class="ms-28 mt-7 pt-2 pb-2 ps-8 pe-8 bg-btn font-semibold" routerLink="/landing-page/our-products">All Products</button>
    </div>
  <div class="image mt-5 flex justify-end">
    <img src="../../../../assets/images/img.png" class="">
  </div>
          
 </div>
</section>
<section class="home-two  dark:bg-black bg-white dark:text-white text-slate-600">
    <div class="text-center">
        <h1 class=" text-2xl pt-8">Explore Our Latest Collection</h1>
        <p class="pt-6">Discover our curated selection of exquisite rings, necklaces, bracelets, and earrings that capture the essence of
            <br> femininity and grace.</p>
            <div class="columns-2 flex justify-center mt-5">
                <div class="p-8">
                    <img src="../../../../assets/images/pic1.jpg" class="w-96">
                </div>
                <div class="pic-caption p-8 mt-16 text-lg">
                    <h4 class="font-semibold">Diamond Necklaces</h4>
                    <p>Adorn your wrist with our exquisite diamond tennis bracelet, <br>a symbol of timeless elegance and luxury craftsmanship.</p>
                </div>
            </div>
            <div class="columns-2 flex justify-center mt-5">
            
                <div class="pic-caption p-8 mt-16 text-lg">
                    <h4 class="font-semibold">Diamond Necklaces</h4>
                    <p>Elevate your style with our lustrous pearl drop earrings, exuding classic beauty and effortless<br> glamour for any occasion.</p>
                </div>
                <div class="p-8">
                    <img src="../../../../assets/images/pic2.jpg" class="w-96">
                </div>
            </div>
            <div class="columns-2 flex justify-center mt-5">
                <div class="p-8">
                    <img src="../../../../assets/images/pic3.jpg" class="w-96">
                </div>
                <div class="pic-caption p-8 mt-16 text-lg">
                    <h4 class="font-semibold">Diamond Necklaces</h4>
                    <p>Embrace sophistication with our stunning sapphire ring, featuring<br> a timeless design that radiates elegance and charm.</p>
                </div>
            </div>
    </div>
</section>
<section class="home-three  dark:bg-black bg-homeThree dark:text-slate-100 text-slate-600 ">
    <div class="columns-1 flex justify-center ">
        <div class="image-2 flex justify-start ps-10">
            <img src="../../../../assets/images/Image 7.png" class="">
          </div>
        <div class="mt-32 pe-32 ps-10">
            <h1 class="text-2xll font-semibold">Necklaces</h1>
            <p class=" dark:bg-black dark:text-white text-slate-600 pt-7 caption-three font-semibold text-xl">Elevate your look with our stunning necklace designs, each crafted with the finest materials and attention to detail.<br> From delicate pendants to  captivating statement pieces, our collection has something to complement every style.
            <br>Elevate your look with our stunning necklace designs, each crafted with the finest materials and attention to detail. From delicate pendants to  captivating statement pieces, our collection has something to complement every style.</p>
                <button class="rounded-full mt-7 pt-4 pb-4 ps-8 pe-8 bg-btn font-semibold">Shop Necklaces</button>
        </div>
     
              
     </div>
</section>
<section class="home-four pt-5  dark:bg-black bg-homeFour  dark:text-slate-100 text-slate-600 min-h-screen">
    <div class="text-center">
        <h1 class=" text-2xl  font-semibold">Necklaces</h1>
        <p class="pt-6">Discover our curated selection of exquisite rings, necklaces, bracelets, and earrings that capture the essence of
            femininity and grace.</p>
    </div>
    <div class="necklaces flex justify-around ps-32 pe-32 pt-10 pb-10">
        <div class="columns flex text-center flex-col p-5">
            <img class = "image-2 mb-5" src="../../../../assets/images/Image 11.png">
            <h4 class="">Sophisticated Elegance</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br> Architecto est eligendi aut distinctio temporibus fuga.
            </p>
        </div>
        <div class="columns flex text-center flex-col p-5">
            <img class = "image-2 mb-5" src="../../../../assets/images/Image 9.png" >
            <h4 class="text-center">Timeless Allure</h4>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br> Architecto est eligendi aut distinctio temporibus fuga.
            </p>
        </div>
        <div class="columns flex text-center flex-col p-5">
            <img class = "image-2 mb-5" src="../../../../assets/images/Image 10.png">
            <h4 class="">Enchanting Essence</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br> Architecto est eligendi aut distinctio temporibus fuga.
            </p>
        </div>
        <div class="columns flex text-center flex-col p-5">
            <img class = "image-2 mb-5" src="../../../../assets/images/Image 11.png">
            <h4 class="">Luxurious Splendor</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br> Architecto est eligendi aut distinctio temporibus fuga.
            </p>
        </div>
    </div>
</section>

<app-footer></app-footer>
<a  class="back-to-top  cursor-pointer" (click)="scrollToComponent()"> 
    <span class="material-icons fa-solid fa-gem fa-bold" ></span>
</a>