<section class="footer flex flex-wrap justify-around p-8 sm:p-16 dark:bg-black bg-footer dark:text-slate-100 text-slate-600">
   <div class="columns w-full sm:w-auto text-center sm:text-left mb-8 sm:mb-0">
     <i class="fa-solid fa-gem fa-bold"><span class="p-3">Jewelry</span></i>
     <p class="pt-4 sm:pt-12">© 2024 Regale, Inc.<br>All rights reserved.</p>
   </div>
   
   <div class="columns w-full sm:w-auto text-center sm:text-left mb-8 sm:mb-0">
     <h3 class="font-semibold">Explore</h3>
     <h5>Home</h5>
     <h5>About</h5>
     <h5>Products</h5>
     <h5>Contact</h5>
   </div>
   
   <div class="columns w-full sm:w-auto text-center sm:text-left mb-8 sm:mb-0">
     <h3 class="font-semibold">Connect</h3>
     <h5>Instagram</h5>
     <h5>Facebook</h5>
     <h5>Twitter</h5>
     <h5>Pinterest</h5>
   </div>
   
   <div class="columns w-full sm:w-auto text-center sm:text-left">
     <h3 class="font-semibold">Company</h3>
     <h5>Terms</h5>
     <h5>Privacy</h5>
     <h5>Shipping</h5>
     <h5>Returns</h5>
   </div>
 </section>
 
